@use './chunk/burger-menu';
@use 'mixins/adaptive-font' as *;

.logo {
	display: flex;
	align-items: center;

	&__img {
		max-width: 200px;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;

	&__body {
		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--accent-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 15px;

		&--mobile {
			flex-direction: column;
		}
	}

	&__link {
		transition: opacity var(--time);

		&:hover {
			opacity: 0.5;
		}
	}
}

.section {
	padding: 125px 0;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;

	&-events {
		position: relative;
		padding-bottom: 200px;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-image: url('@img/general/lines.webp');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&-halls {
		padding-top: 0;
	}

	&-service {
		padding-bottom: 0;
	}

	&-banquet {
		position: relative;
		overflow: hidden;
		padding-top: 200px;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-image: url('@img/general/lines.webp');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.main-title {
	margin: 0;
	font-family: var(--font-main);
	font-weight: 400;
	font-feature-settings: 'liga' off;
	line-height: normal;
	letter-spacing: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #f3feff;
	@include adaptive-font(240, 72);
}

.accent-text {
	margin: 0;
	font-family: var(--font-main);
	font-weight: 400;
	font-feature-settings: 'liga' off;
	font-size: 28px;
	line-height: normal;
	letter-spacing: 15.4px;
	text-align: center;
	text-transform: uppercase;
	color: var(--accent-color);
}

.text {
	margin: 0;
	font-family: var(--font-second);
	font-weight: 400;
	font-style: normal;
	line-height: 145%;
	text-align: center;
	color: var(--light-color);
	@include adaptive-font(22, 15);
}

.link {
	border-radius: 100px;
	padding: 40px 50px;
	font-family: var(--font-second);
	font-weight: 600;
	line-height: normal;
	text-align: center;
	color: var(--text-link-color);
	background-color: var(--accent-color);
	transition: background-color var(--time);
	@include adaptive-font(20, 15);

	&:hover {
		background-color: var(--hover-accent-color);
	}

	@media (max-width: 768px) {
		padding: 30px 45px;
	}
}

.is-hidden {
	display: none;
}

.title {
	margin: 0 auto;
	margin-bottom: 75px;
	max-width: 700px;
	line-height: 130%;
	text-align: center;
	text-transform: uppercase;
	color: var(--light-color);
	@include adaptive-font(59, 32);

	@media (max-width: 992px) {
		margin-bottom: 35px;
	}
}

.subtitle {
	margin: 0;
	margin-bottom: 15px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 4.86px;
	text-align: center;
	text-transform: uppercase;
	color: var(--accent-color);
	@include adaptive-font(18, 12);

	@media (max-width: 992px) {
		margin-bottom: 5px;
	}
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	margin: 0;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	color: var(--light-color);
	background-color: var(--second-accent-color);
	transform: translateY(-50%);
	transition:
		color var(--time),
		background-color var(--time);

	&::after {
		font-size: 10px;
	}

	&:hover {
		color: var(--text-link-color);
		background-color: var(--accent-color);
	}

	@media (max-width: 768px) {
		width: 55px;
		height: 55px;
	}

	@media (max-width: 420px) {
		width: 35px;
		height: 35px;
	}
}

.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
	border: 2px solid var(--second-accent-color);
	background-color: transparent;
	opacity: 1;
}

.marquee {
	position: relative;
	display: flex;
	overflow: hidden;
	margin-bottom: 180px;
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
	gap: 75px;

	&__inner {
		display: flex;
		align-items: center;
		gap: 75px;
		width: max-content;
		animation: marquee 15s linear infinite;
	}

	&__text {
		line-height: normal;
		text-transform: uppercase;
		color: var(--light-color);
		@include adaptive-font(128, 45);
	}

	&__icon {
		flex-shrink: 0;
		width: 35px;
		height: 35px;
	}

	&--transparent {
		opacity: 0.2;
		filter: grayscale(100%);
	}
}

@keyframes marquee {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}
