// * Максимальная и минимальная ширина макета
$container-width: 1870;
$mobile-width: 400;

:root {
	// * Цвета
	--dark-color: #000;
	--light-color: #f3feff;
	--bg-color: #07153f;
	--accent-color: #ffd781;
	--hover-accent-color: #ffcb5b;
	--second-accent-color: #01b8de;
	--text-link-color: #4a3a18;
	--error-color: #f06464;

	// * Шрифты
	--font-main: 'Forum', sans-serif;
	--font-second: 'Onest', sans-serif;
	--font-third: 'Manrope', sans-serif;
	--line-height: 120%;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 768;
}
