// * Global styles (Шрифты, переменные)
@use 'vars';
@use 'fonts';
@use 'settings';
@use 'interface';

// * Main styles
@use './chunk/header';
@use './chunk/hero';
@use './chunk/level';
@use '../../node_modules/swiper/swiper';
@use '../../node_modules/swiper/modules/navigation';
@use './chunk/events';
@use './chunk/halls';
@use './chunk/stock';
@use './chunk/dishes';
@use './chunk/gallery';
@use './chunk/holiday';
@use './chunk/footer';
