.stock {
	&__slider {
		/* stylelint-disable-next-line at-rule-empty-line-before */
		@media (max-width: 992px) {
			height: 600px;
		}

		@media (max-width: 490px) {
			height: 500px;
		}
	}

	&__slide {
		display: flex;

		& img {
			margin: 0 auto;
			border-radius: 35px;
		}
	}
}
