<section class="section section-banquet" style="background-image: url('@img/general/light-big-blue.webp');">
	<div class="container">
		<div class="banquet">
			<img class="banquet__img" src="@img/general/logo.webp" alt="Fillary">
			<h2 class="banquet__title title">
				Не упустите возможность провести <span>банкет в караоке-клубе Fillary!</span>
			</h2>

			<p class="banquet__text text">
				<span>Мы готовы поддержать любые ваши идеи и сделать мероприятие незабываемым.</span> Наши профессиональные
				сотрудники
				помогут Вам
				организовать банкет
				на должном, высшем уровне.
			</p>

			<a class="banquet__link link-reset link" href="#">
				Ознакомиться подробнее
			</a>
		</div>
	</div>
</section>