<section class="section">
	<div class="child">
		<div class="child__slider swiper">
			<div class="swiper-wrapper">
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
				<div class="child__slide swiper-slide">
					<img src="@img/child/slide-1.webp" alt="Fillary">
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<div class="container">
			<div class="child__wrap">
				<h2 class="child__title title">
					Детский праздник
				</h2>
				<p class="child__slogan text">
					<span>Планируете детский праздник? Мы готовы помочь вам организовать весёлый и яркий праздник для
						детей!</span> В нашем караоке дети
					смогут попеть любимые песни, поиграть и получить массу положительных эмоций.
				</p>
				<a class="child__link link-reset link" href="#">
					Резерв
				</a>
			</div>
		</div>

	</div>
</section>