<section class="section" style="background-image: url('@img/general/light-big-blue.webp');">

	<div class="marquee">
		<div class="marquee__inner">
			<span class="marquee__text">Меню Fillary</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
			<span class="marquee__text">звучит как песня</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
		</div>

		<div class="marquee__inner">
			<span class="marquee__text">Меню Fillary</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
			<span class="marquee__text">звучит как песня</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
		</div>
	</div>


	<div class="container">
		<div class="dishes">

			<div class="dishes__card">
				<div class="dishes__inner">
					<h2 class="dishes__title title">
						В основе лежат блюда авторской <span>и европейской кухни</span>
					</h2>

					<p class="dishes__text text">
						Для особых случаев мы подготовили специальное фуршетное меню
					</p>

					<div class="dishes__chef dishes-chef">
						<img class="dishes-chef__img" src="@img/dishes/img-1.webp" alt="">
						<h3 class="dishes-chef__title">
							Наш шеф-повар Андрей Ким
						</h3>
						<p class="dishes-chef__text text">
							Настоящий мастер своего дела. Он готовит блюда
							с любовью и заботой, чтобы ваши вкусовые рецепторы запели не хуже, чем голосовые связки.
						</p>
					</div>


				</div>

				<div class="dishes__gallery">

					<div class="dishes__slider swiper">
						<div class="swiper-wrapper">
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-1.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-2.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-3.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-4.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-3.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-4.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-5.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-6.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-7.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-8.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-9.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-10.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-11.webp" alt="">
							</div>
							<div class="dishes__slide swiper-slide">
								<img src="@img/dishes/slide-12.webp" alt="">
							</div>
						</div>

					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>

				</div>

			</div>

		</div>
	</div>
</section>