<section class="section section-events" style="background-image: url('@img/general/light-purple.webp');">
	<div class="container">
		<div class="events">
			<h2 class="events__title title">
				События в Fillary
			</h2>

			<div class="events__slider swiper">
				<div class="swiper-wrapper">
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
					<div class="events__slide swiper-slide">
						<img src="@img/events/slide-1.webp" alt="Fillary">
					</div>
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>