<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__inner">
				<div class="footer__info">
					<a class="footer__phone link-reset" href="tel:+79257059999">+7 925 705 99 99</a>
					<span class="footer__time">
						Пн-воскр / 19:00 - 05:00
					</span>

					<address class="footer__address">
						Цветной бул., 34, Москва
					</address>

					<div class="socials socials--horizontal">
						<a class="socials__link link-reset" href="#">
							<svg class="socials__icon">
								<use href="img/icons/sprite.svg#icon-vk"></use>
							</svg>
						</a>
						<a class="socials__link link-reset" href="#">
							<svg class="socials__icon">
								<use href="img/icons/sprite.svg#icon-tg"></use>
							</svg>
						</a>
						<a class="socials__link link-reset" href="#">
							<svg class="socials__icon">
								<use href="img/icons/sprite.svg#icon-ig"></use>
							</svg>
						</a>
					</div>
				</div>

				<span class="footer__copyright">
					Fillary © 2025
				</span>
			</div>

			<div class="footer__map">
				КАРТА
			</div>
		</div>
	</div>
</footer>