<section class="section">
	<div class="container">
		<div class="gallery">
			<h2 class="gallery__title title">
				Галерея
			</h2>
			<h3 class="gallery__subtitle subtitle">
				Фото с наших мероприятий
			</h3>

			<div class="gallery__wrap">
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
				<div class="gallery__item" style="background-image: url('@img/gallery/item-1.webp');"></div>
			</div>
		</div>
	</div>
</section>