<section class="section section-halls" style="background-image: url('@img/general/light-blue.webp');">
	<div class="container">
		<div class="halls">
			<h2 class="is-hidden">
				Залы
			</h2>
			<div class="halls__wrap">

				<div class="halls__item hall">

					<div class="hall__slider swiper">
						<div class="swiper-wrapper">
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
						</div>

						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>

					<div class="hall__content">
						<div class="hall__texts">
							<h3 class="hall__title">
								Основной зал
							</h3>
							<p class="hall__slogan">
								Это сердце нашего клуба, где каждый вечер с 19:00 до 6:00 звучит музыка и царит веселье.
							</p>
							<p class="hall__text text">
								Ваш вечер всегда раскрасят профессиональные ведущие и голосистые бэк-вокалистки, которые с удовольствием
								помогут вам в
								выборе песен. Большая  вместимость зала делает его идеальным местом для больших компаний
								и шумных вечеринок. Независимо от того, пришли ли вы отметить день рождения, провести корпоративное
								мероприятие или
								просто отдохнуть с друзьями, основной зал Fillary станет вашим любимым местом для музыкального отдыха.
							</p>
						</div>

						<a class="hall__link link link-reset" href="#">
							Резерв
						</a>
					</div>

				</div>

				<div class="halls__item hall">

					<div class="hall__slider swiper">
						<div class="swiper-wrapper">
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
							<div class="hall__slide swiper-slide">
								<img src="@img/halls/slide-1.webp" alt="">
							</div>
						</div>

						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>

					<div class="hall__content">
						<div class="hall__texts">
							<h3 class="hall__title">
								Основной зал
							</h3>
							<p class="hall__slogan">
								Это сердце нашего клуба, где каждый вечер с 19:00 до 6:00 звучит музыка и царит веселье.
							</p>
							<p class="hall__text text">
								Ваш вечер всегда раскрасят профессиональные ведущие и голосистые бэк-вокалистки, которые с удовольствием
								помогут вам в
								выборе песен. Большая  вместимость зала делает его идеальным местом для больших компаний
								и шумных вечеринок. Независимо от того, пришли ли вы отметить день рождения, провести корпоративное
								мероприятие или
								просто отдохнуть с друзьями, основной зал Fillary станет вашим любимым местом для музыкального отдыха.
							</p>
						</div>

						<a class="hall__link link link-reset" href="#">
							Резерв
						</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>