<section class="section section-hero" style="background-image: url('@img/hero/hero-bg.webp');">
	<div class="container">
		<div class="hero">
			<div class="hero-content">
				<div class="hero-content__logo">
					<img class="" src="@img/general/logo.webp" alt="Логотип">
				</div>
				<p class="hero-content__descr accent-text">
					Караоке-клуб
				</p>
				<h1 class="hero-content__title main-title">Fillary</h1>
				<p class="hero-content__text text">
					Магическое пространство, наполненное музыкой, любимыми песнями и жаркими танцами
				</p>
				<a class="link link-reset" href="#">Забранировать стол</a>
			</div>

			<div class="socials">
				<a class="socials__link link-reset" href="#">
					<svg class="socials__icon">
						<use href="img/icons/sprite.svg#icon-vk"></use>
					</svg>
				</a>
				<a class="socials__link link-reset" href="#">
					<svg class="socials__icon">
						<use href="img/icons/sprite.svg#icon-tg"></use>
					</svg>
				</a>
				<a class="socials__link link-reset" href="#">
					<svg class="socials__icon">
						<use href="img/icons/sprite.svg#icon-ig"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>