<section class="section" style="background-image: url('@img/general/light-big-blue.webp');">

	<div class="marquee marquee--transparent">
		<div class="marquee__inner">
			<span class="marquee__text">Незабываемые мероприятия в fillary</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
		</div>

		<div class="marquee__inner">
			<span class="marquee__text">Незабываемые мероприятия в fillary</span>
			<svg class="marquee__icon">
				<use href="img/icons/sprite.svg#star"></use>
			</svg>
		</div>
	</div>

	<div class="container">
		<div class="holiday">
			<h2 class="is-hidden">
				Незабываемые мероприятия в fillary
			</h2>
			<div class="holiday__wrap">

				<div class="holiday__card">
					<div class="holiday__img">
						<img src="@img/holiday/item-1.webp" alt="">
					</div>

					<h3 class="holiday__title title">
						День рождения, Юбилей
					</h3>

					<p class="holiday__text text">
						<span>Планируете день рождения? Мы готовы сделать его незабываемым!</span> В нашем караоке вы сможете
						отметить праздник в
						кругу друзей и близких, исполнить любимые песни и получить массу положительных эмоций.
					</p>

					<a class="holiday__link link-reset link" href="#">
						Резерв
					</a>
				</div>

				<div class="holiday__card">
					<div class="holiday__img">
						<img src="@img/holiday/item-1.webp" alt="">
					</div>

					<h3 class="holiday__title title">
						День рождения, Юбилей
					</h3>

					<p class="holiday__text text">
						<span>Планируете день рождения? Мы готовы сделать его незабываемым!</span> В нашем караоке вы сможете
						отметить праздник в
						кругу друзей и близких, исполнить любимые песни и получить массу положительных эмоций.
					</p>

					<a class="holiday__link link-reset link" href="#">
						Резерв
					</a>
				</div>

			</div>
		</div>
	</div>
</section>