<section class="section section-job">
	<div class="container">
		<div class="job">
			<div class="job__card" style="background-image: url('@img/job/job-bg.webp')">
				<div class="job__content">
					<h3 class="job__subtitle subtitle">
						Зажигайте вместе с FILLARY!
					</h3>
					<h2 class="job__title title">
						Хотите работать в Fillary?
					</h2>
					<p class="job__text text">
						Заполняйте анкету, ждем вас в нашей команде.
					</p>
					<a class="job__link link-reset link" href="#">
						Заполнить анкету
					</a>
				</div>
			</div>
		</div>
	</div>
</section>