<section class="section section-level" style="background-image: url('@img/general/light-blue.webp');">
	<div class="level">
		<div class="container">
			<h3 class="level__subtitle subtitle">
				Зажигайте вместе с FILLARY!
			</h3>
			<h2 class="level__title title">
				Откройте для себя новый уровень отдыха!
			</h2>
		</div>

		<div class="level__slider swiper">
			<div class="swiper-wrapper">
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
				<div class="level__slide swiper-slide">
					<img src="@img/level/slide-1.webp" alt="Fillary">
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<div class="container">
			<div class="level__wrap">
				<p class="level__text">
					Ежедневно в нашем караоке-клубе вы сможете не только проявить себя, <span>но и насладиться уютной атмосферой
						и авторской кухней.</span> А наша арт-команда сделает Ваш вечер по-настоящему зажигательным!
				</p>
				<p class="level__slogan text">
					<span>Не упустите шанс стать частью нашего волшебного мира!</span><br>Забронируйте столик уже сегодня и
					приготовьтесь
					к незабываемому вечеру!
				</p>
				<a class="level__link link-reset link" href="#">
					Резерв
				</a>
			</div>
		</div>

	</div>
</section>