<section class="section" style="background-image: url('@img/general/light-blue.webp');">
	<div class="container">
		<div class="service">
			<h2 class="service__title title">
				<span>Караоке-клуб «Fillary» приглашает Вас</span> окунуться в мир музыкальной магии, веселья, высокого уровня
				сервиса
			</h2>
			<h3 class="service__subtitle subtitle">
				и провести самое запоминающееся событие!
			</h3>

			<p class="service__text text">
				Мы уверены, что Вы почувствуете себя как на топовой концертной площадке и насладитесь мелодией своей души.
				Профессиональное концертное оборудование позволит насладиться качественным звучанием, а также для Вас существует
				возможность подключения райдерного звука.
			</p>

			<div class="service__img" style="background-image: url('@img/service/item-1.webp');"></div>

		</div>
	</div>
</section>