<section class="section" style="background-image: url('@img/general/light-purple.webp');">
	<div class="container">
		<div class="stock">
			<h3 class="stock__subtitle subtitle">
				Наши акции
			</h3>
			<h2 class="stock__title title">
				Интересный заголовок в несколько строк
			</h2>

			<div class="stock__slider swiper">
				<div class="swiper-wrapper">
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-1.webp" alt="Fillary">
					</div>
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-2.webp" alt="Fillary">
					</div>
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-3.webp" alt="Fillary">
					</div>
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-4.webp" alt="Fillary">
					</div>
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-3.webp" alt="Fillary">
					</div>
					<div class="stock__slide swiper-slide">
						<img src="@img/stock/slide-4.webp" alt="Fillary">
					</div>
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</section>